.containerGeneralTabla {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.containerTabla{
    width: 50%;
    display: flex;
    margin: 40px;
}

.tablaCart{
    width: 100%;
}

.imgTabla{
    width: 30px;
}

.titleTabla{
    width: 10vw;
}

.idTabla{
    width: 5vw;
}